:root {
    --bg: #d8eefe;
    --main-bg: #fffffe;
    --h: #094067;
    --p: #5f6c7b;
    --primary: #3da9fc;
    --secondary: #90b4ce;
    --accent: #ef4565;
    --stroke: 3px solid #094067;
    --br: 10px;
    /* Overkill shadows */
    --shadow-color: 206deg 34% 42%;
    --shadow-elevation-high:
        0px 0.2px 0.2px hsl(var(--shadow-color) / 0.81),
        0px 0.2px 0.2px -0.6px hsl(var(--shadow-color) / 0.73),
        0px 0.4px 0.3px -1.1px hsl(var(--shadow-color) / 0.65),
        0px 1px 0.8px -1.7px hsl(var(--shadow-color) / 0.57),
        0.1px 2.2px 1.7px -2.2px hsl(var(--shadow-color) / 0.49),
        0.2px 4.2px 3.2px -2.8px hsl(var(--shadow-color) / 0.41),
        0.3px 7.2px 5.4px -3.3px hsl(var(--shadow-color) / 0.33),
        0.5px 11.3px 8.5px -3.9px hsl(var(--shadow-color) / 0.24),
        0.7px 16.8px 12.6px -4.4px hsl(var(--shadow-color) / 0.16),
        1px 23.9px 17.9px -5px hsl(var(--shadow-color) / 0.08);
      
}

*, *::before, *::after {
    box-sizing: inherit;
    /* border: 1px solid darkolivegreen; */
}

html, body, h1, h2, h3, h4, p, ul, li, a {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    font-family: 'Noto Sans', sans-serif;
    color: var(--h);
    scrollbar-gutter: stable;
}

form > *,
button {
    font-family: inherit;
    border: none;
}

button > * {
    pointer-events: none;
}

button:hover {
    transform: scale(1.04);
}

button:active {
    transform: scale(1.0);
}

button:disabled {
    opacity: 0.5;
}

label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Typography */

.h1-title {
    color: var(--bg);
    font-size: 50px;
}

.h2-invoice {
    color: var(--h);
    font-size: 12px;
}



/* Containers & wrappers */
.div-container {
    background-color: var(--main-bg);
    width: 550px;
    display: flex;
    border-radius: var(--br);
    flex-direction: column;
    gap: 15px;
    margin: 50px auto;
    /* box-shadow: var(--shadow-elevation-high); */
    /* box-shadow: 21px 23px 0px 0px rgba(0,0,0,0.1); */
}

.header {
    background-color: var(--h);
    display: flex;
    flex-direction: column;
    border-top-right-radius: var(--br);
    border-top-left-radius: var(--br);
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.main {
    padding: 15px 25px 25px 25px;
}

.div-invoice-header,
.div-invoice-footer,
.div-invoice-footer div,
.sec-invoice {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.div-invoice-header {
    margin-top: 25px;
}

.div-invoice-footer,
.sec-invoice {
    flex-direction: column;
}

.div-invoice-footer {
    border-top: 3px solid var(--h);
    padding-top: 15px;
}

.frm-task-input {
    display: flex;
    justify-content: center;
    height: 50px;
}

.ipt-task-name {
    font-size: 20px;
    flex-grow: 1;
    border-left: var(--stroke);
    border-top: var(--stroke);
    border-bottom: var(--stroke);
    border-top-left-radius: var(--br);
    border-bottom-left-radius: var(--br);
    padding-left: 15px;
}

.ipt-task-name::placeholder {
    color: var(--secondary);
}


.warning {
    box-shadow: 0 0 1px 1px var(--warning);
}

/* List styles */
.ul-invoice-tasks {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.li-invoice-task {
    display: flex;
    gap: 15px;
}



.li-empty {
    opacity: 0.3;
}

/* Button styles */
.btn-add-task,
.sel-task-price,
.ipt-task-name {
    color: var(--h);
}

.btn-add-task,
.sel-task-price {
    flex-grow: 0.1;
}

.btn-add-task {
    background-color: var(--primary);
    border-right: var(--stroke);
    border-top: var(--stroke);
    border-bottom: var(--stroke);
    border-top-right-radius: var(--br);
    border-bottom-right-radius: var(--br);
}

.sel-task-price {
    background-image: url('./assets/arrow.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 88% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 20px;
    border-top: var(--stroke);
    border-bottom: var(--stroke);
    border-left: 1px solid var(--h);
    padding-left: 16px;
    padding-right: 20px;
    
}

.btn-remove-task {
    background-color: var(--primary);
    color: var(--main-bg);
    border-radius: 5px;
    /* border: 3px solid var(--h); */
    font-size: 10px;
    letter-spacing: 0.8;
    font-weight: 700;
    align-self: center;
    padding: 5px 10px;
}

.btn-send-invoice {
    background-color: var(--bg);
    color: var(--h);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--br);
    padding: 12px 0;
}


/* p styles */
.li-invoice-task p:first-of-type {
    font-size: 20px;
    font-weight: 700;
    color: var(--h);
}

.li-invoice-task p:last-of-type {
    font-size: 24px;
    color: var(--h);
    margin-left: auto;
}

.li-invoice-task p:last-of-type span {
    color: var(--primary);
}

.p-invoice-footer-total {
    margin-left: auto;
}

.p-tagline {
    color: var(--bg);
    margin-top: -10px;
}