*, *::before, *::after {
    box-sizing: inherit;
}

html, body, h1, h2, h3, h4, p, ul, li, a {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    font-family: 'Noto Sans', sans-serif;
    color: var(--h);
    scrollbar-gutter: stable;
}

form > *,
button {
    font-family: inherit;
    border: none;
}

button > * {
    pointer-events: none;
}

button,
label {
    cursor: pointer;
}

button:disabled {
    opacity: 0.3;
    pointer-events: none;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.15);
}

.frm-task-input label,
.toggle-wrap span {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Typography */
.h1-title {
    color: var(--h);
    font-size: 50px;
}

.h2-modal {
    line-height: 0.9;
    margin-bottom: 10px;
}

.h2-invoice {
    color: var(--h);
    font-size: 12px;
}

.h3-single-invoice {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

/* Containers & wrappers */
.div-container {
    background-color: var(--main-bg);
    width: 550px;
    display: flex;
    border-radius: var(--br);
    flex-direction: column;
    position: relative;
    gap: 15px;
    margin: 50px auto;
    box-shadow: var(--shadow-elevation-high);
}

.header {
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    border-top-right-radius: var(--br);
    border-top-left-radius: var(--br);
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px;
    border-bottom: 1px solid var(--bg);
}

.div-ctl-panel {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    padding: 0;
}

.main {
    padding: 15px 25px 25px 25px;
}

.div-invoice-header,
.div-invoice-footer,
.div-footer {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.sec-invoice {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.div-invoice-header {
    margin-top: 25px;
}

.h3-single-invoice + .div-invoice-header {
    margin-top: 0;
}

.div-invoice-footer,
.sec-invoice {
    flex-direction: column;
}

.div-invoice-footer {
    margin-top: auto;
}

.sec-invoice-modal {
    flex-grow: 1;
    height: 50%;
}

.div-invoice-footer {
    border-top: 3px solid var(--secondary);
    padding-top: 15px;
}

.frm-task-input {
    display: flex;
    justify-content: center;
    height: 50px;
}

.ipt-task-name:focus,
.sel-task-price:focus,
.btn-add-task:focus {
    outline: none;
}

.ipt-task-name,
.sel-task-price {
    background-color: var(--input-bg);
}

.ipt-task-name {
    font-size: 20px;
    flex-grow: 1;
    color: var(--h);
    border-left: var(--stroke);
    border-top: var(--stroke);
    border-bottom: var(--stroke);
    border-top-left-radius: var(--br);
    border-bottom-left-radius: var(--br);
    padding-left: 15px;
}

.ipt-task-name::placeholder {
    color: var(--p);
}

.warning {
    box-shadow: inset 0 0 10px var(--warning);
}

.div-modal-divider {
    width: 90%;
    border-bottom: 1px solid var(--primary-light);
    margin: 0 auto;
}

/* List styles */
.ul-modal,
.ul-invoice-tasks {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: none;
}

.ul-invoices-tasks {
    gap: 30px;
}

.li-invoice-task {
    display: flex;
    gap: 15px;
}

.li-empty {
    opacity: 0.3;
}

.li-invoice-history {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    font-size: 18px;
}

/* Button styles */
.btn-add-task {
    color: var(--secondary-light);
}

.btn-add-task,
.sel-task-price {
    flex-grow: 0.1;
}

.sel-task-price {
    color: var(--h)
}

.btn-add-task {
    background-color: var(--secondary);
    border-right: var(--stroke);
    border-top: var(--stroke);
    border-bottom: var(--stroke);
    border-top-right-radius: var(--br);
    border-bottom-right-radius: var(--br);
}

.btn-add-task:hover {
    background-color: var(--h);
    color: var(--main-bg);
}

.btn-add-task:active {
    background-color: var(--primary);
}

.sel-task-price {
    background-image: url('./assets/arrow.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 83% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 20px;
    border-radius: 0;
    border-top: var(--stroke);
    border-bottom: var(--stroke);
    border-left: 1px solid var(--secondary);
    padding-left: 16px;
    padding-right: 20px;
}

.btn-remove-task {
    background-color: var(--primary);
    color: var(--main-bg);
    border-radius: var(--br-small);
    font-size: 10px;
    letter-spacing: 0.8;
    font-weight: 700;
    align-self: center;
    padding: 5px 10px;
}

.btn-remove-task:hover {
    background-color: var(--primary-dark);
    color: var(--bg);
}

.btn-remove-task:active {
    transform: scale(0.95);
}

.btn-send-invoice,
.btn-reset,
.btn-history,
.btn-modal-close {
    background-color: var(--secondary);
    color: var(--secondary-light);
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--br);
    padding: 12px 0;
}

.btn-send-invoice:hover,
.btn-history:hover,
.btn-reset:hover,
.btn-modal-close:hover {
    background-color: var(--primary-dark);
    color: var(--bg);
}

.btn-send-invoice:active,
.btn-history:active,
.btn-reset:active,
.btn-modal-close:active {
    transform: scale(0.98)
}

.btn-modal-back {
    background-color: transparent;
    color: var(--accent);
    position: absolute;
    top: 16px;
    left: 18px;
    padding: 0;
}

.btn-modal-back:hover {
    color: var(--accent-dark);
}

.btn-modal-back:active {
    color: var(--accent-dark);
    transform: scale(0.95)
}

.btn-invoice-history {
    color: var(--h);
    background-color: transparent;
}

.btn-invoice-history:hover {
    text-shadow: 0 0 3px var(--primary);
}

.btn-invoice-history:active {
    transform: scale(0.9);
}

.btn-invoice-history:first-of-type {
    /* background-color: pink; */
    margin-left: auto;
    margin-right: -30px;
}

/* p styles */
.li-invoice-task p:first-of-type {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-dark);
}

.li-invoice-task p:last-of-type {
    font-size: 24px;
    color: var(--primary-dark);
    margin-left: auto;
}

.spn-primary {
    color: var(--primary);
}

.spn-highlight {
    color: var(--accent);
    font-weight: 700;
}

.p-invoice-footer-total {
    font-size: 26px;
    margin-left: auto;
    color: var(--primary-dark)
}

.p-tagline {
    color: var(--primary);
    margin-top: -10px;
}

.p-no-history {
    margin-top: 30px;
    text-align: center;
}

.p-notes {
    font-size: 14px;
}

.p-paid {
    background: var(--primary);
    color: var(--main-bg);
    font-size: 14px;
    font-weight: 700;   
    padding: 2px 10px;
    border-radius: var(--br-small);
    line-height: 1.8;
    align-self: center;
}

/* Toggle switch styles */
.toggle {
    background-color: var(--secondary-light);
    border-radius: var(--br);
    width: 300px;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 5px;
}

.toggle-input {
    display: none;
}

.toggle-wrap {
    display: flex;
    width: 47px;
    height: 30px;
    background-color: transparent;
    border-radius: 50px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.toggle-switch {
    position: relative;
    z-index: 10;
    width: 24px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50px;
    box-shadow: 
        0 12px 19px rgba(0, 0, 0, 0.225),
        inset 0 1px 8px 1px rgba(0, 0, 0, 0.05);
    margin: 0 3.5px;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.toggle-bg {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--secondary);
    top: 0;
    left: 0;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.toggle-input:checked + .toggle-switch {
    transform: translateX(68%);
}

.toggle-input:checked ~ .toggle-bg {
    background-color: var(--secondary);
}

.toggle-description {
    color: var(--secondary);
    line-height: 0;
}

/* Modal styles */
.modal {
    color: var(--h);
    font-size: 22px;
    background-color: var(--bg);
    border: none;
    border-radius: var(--br);
    min-width: 510px;
    width: 510px;
    /* height: auto; */
    overflow-y: hidden;
    margin: 0 auto;
    padding: 25px;
    box-shadow: var(--shadow-modal);
    position: absolute;
    top: 70px;
}

.modal-inner {
    /* position: relative; */
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.hdr-modal {
    text-align: center;
}

.hdr-modal-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
}

.ftr-modal {
    margin-top: auto;
}

.modal-confirm {
    top: 225px;
    min-width: 300px;
    width: 300px;
    height: 200px;
}

/* Helper styles */
.overflow-thin-scrollbar {
    margin-right: -18px;
    padding: 0 11px 0 0;
    overflow-y: scroll;
}

.overflow-thin-scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

.overflow-thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    opacity: 0.6;
    border-radius: 5px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
   
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 3px solid var(--primary-light);
    border-top-color: var(--primary);
    animation: spinner .6s linear infinite;
  }